<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{ Team2 }} </title>
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>



    {{{body}}}



</body>
</html>

