<body id="body">
  <div id="book-div" style="margin-top: 10vh; text-align: center;">
    <p>
    </p>

    <h1 id="404header" style="color: royalblue; text-shadow: 3px 3px 3px gray; font-weight: bold; "></h1>
    <img src="/images/DogAteIt.png" alt="" style="height:fit-content" />

  </div>
<script src="/js/404.js"></script>
</body>