<h1>Reviews List</h1>
    <li>
        <h2>{{review.book.title}}</h2>
        <p><strong>Author:</strong> {{review.book.author}}</p>
        <p><strong>Synopsis:</strong> {{review.book.synopsis}}</p>
    </li> 
  {{#each review}}
  {{/each}}
</div>