<div class="container">
<button id="toggle-review">Post Review</button>

<div class="comment-box" style="display: none">
    <p>Post Book Review</p>
    <form class="comment-form">
        <input id='book-title' type="text" placeholder="Book Title" required>
        <input id="book-author" type="text" placeholder="Author" required>
        <textarea id='book-synopsis' rows="5" placeholder="Book Synopsis"></textarea>
        <textarea id='review-text' rows="10" placeholder="Write Your Review"></textarea>
        
        <button type="submit">Post Comment</button>
    </form>
</div>
{{#each reviews}}
<div class="row">
    <div class="col-md-8">
        <div class="media g-mb-30 media-comment">
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
              <div class="g-mb-15">
                <h5 class="h5 g-color-gray-dark-v1 mb-0">{{book.title}} reviewed by {{user.name}}</h5>
                <span class="g-color-gray-dark-v4 g-font-size-12">5 days ago</span>
              </div>

              <p>{{description}}</p>
        
              <ul class="list-inline d-sm-flex my-0">
                <li class="list-inline-item g-mr-20">
                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                    <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                    178
                  </a>
                </li>
                <li class="list-inline-item g-mr-20">
                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                    <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                    34
                  </a>
                </li>
                <li class="list-inline-item ml-auto">
                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                    <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                    Reply
                  </a>
                </li>
              </ul>
            </div>
        </div>
    </div>
{{/each}}
    
</div>



<script src="js/review.js"></script>
