<head>
  <title>Home page</title>
</head>


<header>
  <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div style="float:right">
     <a href="/login"><button>LOGIN</button></a>
  <br>
    <a href="/dashboard"><button>DASHBOARD</button></a>
      </div>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<body>
  <center>
  <h1> This is our Handlebars Homepage...</h1>

    <div style="float:right"><button id="logout">logout</button></div>

  <h1>Search Box</h1>
    <div>
      <input type="text" name="">
    </div>
  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button">Dropdown item</button></li>
  </ul>
    </div>
  </center>
</body>

 <footer class="text-center text-lg-start" style="background-color: #db6930;">
    <div class="container d-flex justify-content-center py-5">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-youtube"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-instagram"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-twitter"></i>
      </button>
    </div>
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>
</header>

<script src="/js/logout.js"></script>


