<h1>Book List</h1>


  {{#each books as |book|}}
    <li>
        <h2><a href= "reviews/ ${{book.id}}">{{book.title}}</a></h2>
        <p><strong>Author:</strong> {{book.author}}</p>
        <p><strong>Synopsis:</strong> {{book.synopsis}}</p>
    </li> 
  {{/each}}
</div>