<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../public/css/login.css">
</head>
</html>

<div class="center">
  <button id="show-login">Login</button>
</div>
<div class="popup">
  <div class="class-btn">&times;</div>
  <form class="form login-form">
    <h2>Log In</h2>
    <div class="form-element">
      <label for="email">Email</label>
      <input type="text" id="email" placeholder="Enter email">
    </div>
    <div class="form-element">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter Password">
    </div>
    <div class="form-element">
      <input type="checkbox" id="remember me">
      <label for="remember me">Remember Me</label>
    </div>
    <div class="form-element">
      <button type="submit">Sign In</button>
    </div>
    <div class="form-element">
      <a href="#">Forgot Password?</a>
    </div>
  </form>
</div>






  {{!-- <center>
    <h1>Login</h1>
    <form method="post">
      <div class="text_field">
        <input type="text" id="user" name="username" placeholder="username" required>
      </div>
      <div class="text_field">
        <input type="text" id="user" name="password" placeholder="password" required>
    </div>  
      </div class="pass">Forgot Password?</div>
      <input type="submit" value="Login">
      <div class="signup_link">
        Not a member? <a href="#">Signup</a>
      </div>
    </div>
    </form>
  </center>   --}}


{{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

<script src="/js/login.js"></script>
